body{
   font-family: 'Gideon Roman', cursive;
   margin: 0px;
}

h1{
   font-size: 50px;
}
.orange-color{
   color:rgba(235, 163, 10, 0.74);
}
.flexible-container{
   display:flex;
   margin-bottom: 50px;
}
.half-width{
   width: 50%;
   padding-left: 2%;
}
.half-width img{
   width: 80%;
}
.mama{
   color: rgb(19, 204, 75);
}
.bokkor{
   color:rgb(255, 190, 10);
}
.link-button{
   text-decoration: none;
   background-image: linear-gradient(orange, tomato);
   padding: 10px 40px;
   border-radius: 5px;
   color: white;
   font-weight: 800;
}
.top-banner{
   background-image: url(developer-portfolio-master/images/top-banner.png);
   background-repeat: no-repeat;
}
.dream-big{
   background-image: url(developer-portfolio-master/images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
}
.web-developer{
   color:rgba(206, 186, 11, 0.863);
}
.experience-level{
   box-shadow: 5px 5px 30px rgb(68, 67, 67);
   padding-left: 25px;
   width: 40%;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 15px;
   
}
.experience-area{
   background-image: url(developer-portfolio-master/images/sun.png);
   background-repeat: no-repeat;
   background-position: left;
}
.h11{
   font-size: 40px;
}
#web-developer-experience{
   border-left: 5px solid;
   border-image: linear-gradient(orange, tomato);
   border-image-slice: 1;
}
#baby-web-developer-experience{
   border-left: 5px solid;
   border-image: linear-gradient(blue, cyan);
   border-image-slice: 1;
}
footer p{
   text-align: center;
   font-weight: bold;
}